.title {
    background-color: rgb(162, 81, 23);
    color: white;
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    line-height: 70px;
    width: 850px;
    margin-left: 500px;
}

.return-button {
    color: white;
    background-color: #c08d9b;
    border: 10px;
}

.recipe-button {
    display:block;
    border: 1px solid #c08d9b;
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: #ffc0cb;
    font-size: 16px;
    margin: 5px;
    margin-left: 495px;
}

.recipe-button:hover {
background-color: white;
color: #ffc0cb;
}

#ralsei {
    height: auto;
    width: auto;
    position:fixed;
    bottom:0px;
    right: 0px;
    width: 80px;
}

.hmp, .rbg {
    background-color:bisque ;
}

#cup {
    height: auto;
    width: auto;
    position:fixed;
    bottom:0px;
    left: 0px;
    width: 80px;
}

.subtitle {
    background-color: #ffc0cb;
    color: chocolate;
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    text-align: left;
}

.desc-text {
font-family: "Courier New", "Courier New", monospace;
}